.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo {
text-align: center;
color: white;
margin-top: 2%;
}
.rectangulo {
  background-color: #1c1f3a;
  border-radius: 20px;
  padding: 20px;
  color: white;
  max-width: 100%;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);

  /* Nuevo: para que se ordene y tenga scroll si es necesario */
  max-height: 60vh; /* Altura máxima en relación al alto de pantalla */
  overflow-y: auto; /* Scroll si el contenido se pasa */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hechopor {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}